<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>Simon LEDs</title>
 
     <script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
 
      <style>
         .color-block {
            display: block;
            width: 100px;
            height: 70px;
            border: 4px solid black;
            margin: 20px;
         }

         .color-block:hover {
            cursor: pointer;
         }
      </style>

  </head>
   <body>
   
      <div>
            <div id="eleven" class="color-block" style="background-color: rgb(0, 128, 0); margin: auto; margin-top: 30px">
            </div>

            <div id="five" class="color-block" style="background-color: rgb(0, 0, 255); margin: auto; margin-top: 30px">
            </div>

            <div id="three" class="color-block" style="background-color: rgb(255, 0, 0); margin: auto; margin-top: 30px">
            </div>
      </div>
      <script>
            $(function() {

               var current_sequence = []
               var activity = Date.now();

               var green = 'rgb(0,   128, 0)'
               var blue  = 'rgb(0,   0, 255)'
               var red   = 'rgb(255, 0, 0)'

               var light_green = 'rgb(0,   255, 0)'
               var light_blue  = 'rgb(115, 115, 255)'
               var light_red   = 'rgb(255, 117, 117)'

               $('#eleven').click(function(){
                  activity = Date.now()
                  current_sequence.push(11)
                  $('#eleven').css('background-color', light_green)
                  setTimeout(function(){ $('#eleven').css('background-color', green) }, 200);
                  send_sequence_if_no_activity()
               });

               $('#five').click(function(){
                  activity = Date.now()
                  current_sequence.push(5)
                  $('#five').css('background-color', light_blue)
                  setTimeout(function(){ $('#five').css('background-color', blue) }, 200);
                  send_sequence_if_no_activity()
               });

               $('#three').click(function(){
                  activity = Date.now()
                  current_sequence.push(3)
                  $('#three').css('background-color', light_red)
                  setTimeout(function(){ $('#three').css('background-color', red) }, 200);
                  send_sequence_if_no_activity()
               });

               function send_sequence(){
                  str_sequence = current_sequence.join()
                  current_sequence = []
                  console.log(str_sequence)
                  $.ajax({
                        url: '/check-sequence?sequence=' + str_sequence,
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {
                           console.log(response);
                           if(response == 'fail'){
                              current_sequence = [] //new game
                           }
                        },
                        error: function(error) {
                           current_sequence = [] //new game
                           console.log(error);
                        }
                  });
               }

               function send_sequence_if_no_activity(){
                  setTimeout(function(){ 
                     if(Date.now() - activity >= 1000){
                        send_sequence()
                     }
                   }, 1000);
               }
            });

      </script>
   </body>
 </html>